{% extends 'base.html.twig' %}
{% block body %}
<style>{{ source('styles/register.css') }}</style>
{% if app.user.userRole == 1 %} 
<div  class="loginmodal-container">
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.user_role) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }} 
</div>
{% endif %}
{% endblock %}